/* Font imports */
@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(./assets/fonts/avenir_regular.otf) format('truetype');
}
@font-face {
    font-family: 'Avenir Semibold';
    src: local('Avenir Semibold'), url(./assets/fonts/avenir_semibold.otf) format('truetype');
}
@font-face {
    font-family: 'Avenir Bold';
    src: local('Avenir Bold'), url(./assets/fonts/avenir_bold.otf) format('truetype');
}

/* Apply default background and font to app body */
body {
    font-family: "Avenir";
    background-color: #FAFAFD;
}