/* Font imports */
@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(./fonts/avenir_regular.otf) format('truetype');
}
@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(./fonts/avenir_regular.otf) format('truetype');
}
@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(./fonts/avenir_regular.otf) format('truetype');
}

/* Applying fonts to App */
body {
    font-family: "Avenir"
}